<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{{url_for('static', filename='style1.css')}}">
    <script src="{{url_for('static', filename='script1.js')}}"></script>
    <script src="{{url_for('static', filename='script2.js')}}"></script>
    <script src="{{url_for('static', filename='script3.js')}}"></script>
    <script src="{{url_for('static', filename='script4.js')}}"></script>
    <link href="{{url_for('static', filename='signin.css')}}" rel="stylesheet">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="text-center">
    <div class="container">
        <h1 class="display-4">Nmap Web Panel</h1>
          <p class="lead">Please create an account to get started.</p>
          <p>Already have an account? <a href="{{ url_for('login') }}">Log in.</a></p>
        <hr class="my-4">
        {% if message == 'creds' %}
        <div class="alert alert-warning" role="alert">
          Wrong credentials!
        </div>
        {% elif message == 'email' %}
        <div class="alert alert-warning" role="alert">
          This email has already been registered.
        </div>
        {% elif message == 'wrong_fill' %}
        <div class="alert alert-primary" role="alert">
          Please fill in the fields correctly.
        </div>
        {% endif %}
        <form method="POST" class="form-signin">
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.email(class="form-control", placeholder="Email") }}
          </div>
          <div class="form-group">
            {{ form.username(class="form-control", placeholder="Username") }}
          </div>
          <div class="form-group">
            {{ form.password(class="form-control", placeholder="Password") }}
          </div>
          <div class="form-group">
            {{ form.pass_confirm(class="form-control", placeholder="Password confirm") }}
          </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>

  </body>
</html>
